*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body{
	background: linear-gradient(329.54deg, #2E8B57 0%, #2F4F4F 100%);
	background-attachment: fixed;
}

div.center{
	max-width: 1280px;
	margin: 0 auto;
}

.w50{width: 50%;}

.w33{width: 33.3%;}

.right{float: right;}

.left{float: left;}

.clear{clear: both;}

header{
	width: 100%;
	padding: 10px 2%;
	background-color: #3CB371;
}

header .logo-desktop a,.logo-mobile a{
	font-size: 23px;
	transition: 0.2s;
	text-decoration: none;
}

.logo h2{
	font-size: 16px;
	display: inline-block;
}

header a{
	color: rgb(300, 300, 300);
}

header a:hover{
	color: rgb(235, 235, 235);
}

nav.desktop ul{
	position: relative;
	top: 5px;
}

nav.desktop li{
	display: inline-block;
	list-style: none;
	margin-left: 50px;
}

nav.desktop a{
	text-decoration: none;
	font-size: 16px;
	transition: 0.2s;
}

nav.mobile{display: none;}


@media screen and (max-width: 768px){
	nav.desktop{display: none;}
	.logo-desktop{display: none;}

	nav.mobile{
		display: block;
		text-align: center;	
	}

	nav.mobile .button{
		cursor: pointer;
		padding: 0 5px;
		top: 5px;
		color: rgb(300, 300, 300);
		position: absolute;
		z-index: 999;
	}

	.button h2:hover{
		color: rgb(235, 235, 235);
	}

	nav.mobile ul{
		display: none;
		position: absolute;
		top: 30px;
		left: 0;
		width: 100%;
		height: 100vh;
		padding: 20px 15px;
		background: #3CB371; /*#3CB371*/
	}

	nav.mobile li{
		list-style: none;
		padding: 17% 0 17% 0;
		border-bottom: 1px solid #ccc;

	}

	nav.mobile a{
		font-size: 16px;
		text-decoration: none;
	}

	/*section container-form*/

	.content-image{display: none;}
	.container-form{width: 100%; text-align: center;}

	.w50{
		width: 100%;

	}
	

}

section.show{
	padding: 30px;
}

section.show .single-container{
	border: 1px solid black;
	border-radius: 15px;
}

.single-container img{
	width: 100%;
}

.container-form{
	width: 100%;
	height: 100%;
	padding: 30px;
	color: white;
}

section.container-form .content-image{
	margin-top: 35px;
	width: 50%;
	padding: 50px;
	float: right;
}

.container-form form{

	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.container-form h2{
	margin-top: 20px;
	font-weight: normal;
}

.info{
	padding-top: 20px;
}

.info h1{
	margin-bottom: -10px;
}

.input-container span{
	margin: 10px 0;
	display: block;
}

.input-container{
	margin-top: 30px;
}

.input-container input[type=text]{
	padding: 5px;
	outline: none;
	border: 0;
	border-radius: 3px;
	width: 200px;
	height: 30px;
}

.input-container input[type=text]:active{
	outline: none;
}

.warning{
	color: #FF6347;
	margin: 10px 0;
	display: block;
}

.input-submit span{
	margin: 10px 0;
	display: block;
}

.input-submit input[type=submit]{
	margin-bottom: 5px;
	cursor: pointer;
	width: 300px;
	height: 70px;
	color: white;
	transition: 0.2s;
	border: 2px solid rgb(46,139,87);
	background: transparent;
}

.input-submit input[type=submit]:hover{
	color: white;
	background: linear-gradient(329.54deg, #00FA9A 0%, #2F4F4F 100%);
	border-radius: 10px;
	border: 3px solid rgb(46,139,87);
}

.input-submit input[type=submit]:active{
	outline: none;
}

@keyframes up{
	from{
		opacity: 0;
		transform: translateY(16px);
	}

	to{
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-up{
	animation-name: up;
	animation-duration: 300ms;
	animation-fill-mode: backwards; 
}

#home{
	animation-delay: 100ms;
}

#sobre{
	animation-delay: 150ms;
}

#contato{
	animation-delay: 200ms;
}

#il{
	animation-delay: 250ms;
}

.form{
	animation-delay: 300ms;
}

#botao{
	animation-delay: 350ms;
}
